/*FOOOOOOTER*/
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;

  &-description {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #ffffff;
  }
  &-list {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  &-map {
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #ffffff;
    margin-bottom: 8px;
  }
  &-mail,
  &-tel {
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 8px;
  }

  &-socials {
    display: flex;
    margin-top: 12px;
    margin-left: 70px;
    flex-direction: column;
  }
  &-socials-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    text-align: start;
    margin-bottom: 20px;
    font-style: normal;
  }
}

.logo-studio-footer {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #ffffff;
}
.logo-container {
  display: block;
  margin-bottom: 20px;
}

.social-links-footer {
  display: flex;
  width: 206px;
  /*height: 80px;
  padding-top: 12px;*/
}

.footer-social-networks-list {
  display: flex;
  width: 206px;
  justify-content: space-between;
}
.footer-svg {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}
.footer-social-networks-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-networks-icon:hover,
.footer-social-networks-icon:focus {
  background-color: var(--hover-color);
}

.footer-social-networks-icon:hover .footer-svg,
.footer-social-networks-icon:focus .footer-svg {
  fill: #ffffff;
}
.form-wraper {
  display: flex;
  margin-top: 12px;
  margin-left: 93px;
  flex-direction: column;
}
.subscribe-form {
  display: inline-flex;
  align-items: center;
}
.subscribe-form-input {
  width: 358px;
  height: 50px;
  /*padding-top: 15px;
  padding-bottom: 15px;*/
  padding-left: 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: #ffffff;
}
.subscribe-button {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  height: 50px;
  padding: 10px 29px;
  margin-left: 12px;
  font-weight: 700;
  font-size: 16px;
  font-style: normal;
  line-height: 1.143;
  letter-spacing: 0.06em;
  color: #ffffff;
  text-align: left;
  border-style: none;
  background-color: var(--hover-color);
  border-radius: 4px;
  cursor: pointer;
}
.subscribe-button::after {
  display: block;
  content: "";
  width: 24px;
  height: 24px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  /*border-radius: 4px;*/
}

.iconsend::after {
  background-image: url(../svg/iconsend.svg);
}
.sub-us {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: start;
  margin-bottom: 20px;
  font-style: normal;
}
